<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "style.css" %}"> <!-- Link to the CSS file -->
    <title>Hello, World!</title>
</head>
<body>
    <div id="registrationModal" class="modal">
        <div class="modal-content"> 
            <span class="close">&times;</span>
            <h2>Rejestracja</h2>
            <form method="POST" action="{% url 'register' %}">
            {% csrf_token %}
            {% for element in regform %}
                <div class="form-group">
                    {{ element }}
                </div>
            {% endfor %}
            <button type="submit" class="submit-btn">Register</button>
            </form>
        </div>
    </div>
    <div id="loginPopup" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Logowanie</h2>
            
            <form method="POST" action="{% url 'login' %}">
                {% csrf_token %}
                {% for element in logform %}
                    <div class="form-group">
                        {{ element }}
                    </div>
                {% endfor %}
                <button type="submit">Zaloguj</button>
                </form>
        </div>
    </div>
    
    <div class="navbar">
        <p><a href="{% url 'index' %}"><img src="{% static 'logo_skillsprout2.png'%}" alt="Logo"></a></p>
        <div class="navbar-buttons">
            <a href="{% url 'about_us' %}" id="about_usBtn">O nas</a>
            <a href="#" id="loginBtn">Logowanie</a>
            <a href="#" id="registerBtn">Rejestracja</a>
        </div>
    </div>
    
    <div class="search-container">
        <video autoplay muted loop id="backgroundVideo">
            <source src="{% static 'video1.mp4'%}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <div class="search-box">
        <div class="search-title">Znajdź to czego potrzebujesz, najtaniej</div>
        <div class="search-inputs">
            <input type="text" placeholder="Miasto" />
            <input type="text" placeholder="Czego szukasz?" />
            <button>Szukaj</button>
        </div>
        </div>
    </div>
    <div class="offers-section">
        <h2 id="featured-offers-title">Promowane oferty</h2>
        <div class="offers-container">
            {% for offer in offers %}
            <div class="offer">
                <img src="offer1.jpg" alt="Offer 1">
                <div class="offer-content">
                    <h3>{{ offer.title }}</h3>
                    <p>{{ offer.description }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <footer>
        <div class="footer-content">
            Strona stworzona przez zespół projektowy PIWO
        </div>
    </footer>
    <script src="{% static "registration.js" %}"></script>      
</body>
</html>
