body {
    margin: 0;
    font-family: Arial, sans-serif;
    padding-top: 60px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 5%;
    background-color: #1a1a1a;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    color: white;
    position: fixed; /* Makes the navbar fixed at the top */
    width: 100%; /* Ensures the navbar stretches across the full width of the page */
    top: 0; /* Positions the navbar right at the top of the page */
    z-index: 1000;
}

.navbar img {
    height: 50px;
    margin-left: 20px;
}

.navbar-buttons {
    margin-right: 50px;
    position: absolute; /* Position relative to the navbar */
    right: 10%; /* Updated distance from the right edge */
    top: 50%; /* Center the buttons vertically */
    transform: translateY(-50%); /* Fine-tune vertical centering */
    display: flex;
    gap: 20px;
}

.navbar-buttons a {
    float: left; /* Align buttons to the left */
    display: block; /* Make the links block elements */
    color: #fff; /* Presuming this is the text color of the search button */
    font-weight: 500;
    text-align: center; /* Center the text */
    padding: 14px 16px; /* Padding for spacing */
    text-decoration: none; /* Remove underlines */
    font-size: 16px; /* Font size */
    border: 2px solid #A1BF73; /* Border matching the search button */
    background: #A1BF73; /* No background color */
    cursor: pointer; /* Hand cursor on hover */
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 80px;
}
.navbar-button:hover {
    background-color: #A1BF73; /* Background color matching the search button */
    color: #fff; /* White text for contrast */
}

/* On active, the navbar buttons will change color */
.navbar-button:active {
    background-color: #000; /* A darker green on active for a clicking effect */
    color: #fff; /* White text for contrast */
}
.navbar-buttons a:hover {
    color: #000;
}

#backgroundVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1; /* Ensure video is behind text and other content */
    filter: blur(10px); /* Adjust blur as necessary */
    opacity: 0.9; /* Adjust opacity to make text more readable */
}

.search-container {
    position: relative;
    padding: 250px 5%; 
    text-align: center;
    overflow: hidden;
}

.search-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Keep the video behind your content */
    object-fit: cover;
    opacity: 0.9; /* Adjust the opacity of the video background */
    filter: blur(20px); /* Apply blur effect to the video background */
}
.search-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(0px); /* You can adjust the level of blur as you like */
    z-index: 1; /* Ensure the overlay is above the video but below the text */
}


.search-title {
    font-size: 48px;
    font-weight: bold;
    padding-top: 25px;
    padding-bottom: 0px;
    margin-bottom: 50px; /* Increased margin-bottom to add more distance from the forms */
    color: #83A638; /* Changing the color of the text */
    z-index: 2; /* Ensure the text is above the overlay */
    position: relative; /* Establish stacking context */
             /* Adding text shadow */
}

.search-inputs input[type="text"] {
    padding: 8px;
    margin-bottom: 25px;
    height: 40px;
    margin-right: 10px;
    border: none;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    font-size: 25px;
    width: calc(30% - 10px);
}

.search-inputs button {
    padding: 10px 40px;
    border: none;
    border-radius: 15px;
    background-color: #83A638;
    color: white;
    font-size: 25px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}
/* ... (previous styles) ... */

.offers-section {
    text-align: center;
    padding: 60px 5%;
    background-color: #f9f9f9;
}

.offer {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    width: 32%; /* Set width to slightly less than one-third */
    margin-bottom: 40px; /* Spacing between rows */
    transition: transform 0.3s ease;
}

.offers-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Ensures equal spacing between each offer */
    margin-top: 40px;
}


.offer img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.offer-content {
    padding: 20px;
}

.offer:hover {
    transform: scale(1.05);
}

.offer h3 {
    font-size: 20px;
    margin-bottom: 15px;
}

.offer p {
    font-size: 16px;
    color: #666;
}

.offers-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px;
    gap: 30px; /* Added gap to create distance between rows of offers */
}

footer {
    background-color: #333333; /* Same color as navbar */
    color: #ffffff; /* Text color */
    text-align: center;
    padding: 50px 20px; /* Padding for top-bottom and left-right */
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-content {
    max-width: 1200px; /* Maximum width of content */
    margin: auto; /* Center the content */
    font-size: 16px; /* Font size of text */
}
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 4; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto; 
    padding: 40px;
    border: 1px solid #888;
    width: 400px; /* Increased width */
    border-radius: 20px; /* Rounded corners */
    transition: transform 0.3s ease-out; /* Transition for modal appearance */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.form-group {
    margin-bottom: 0px; /* Reduced from 15px to bring elements closer */
    margin-top: 0px; /* Added this to reduce distance from the top */
}

.form-group input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border-radius: 20px; /* Rounded corners for inputs */
    border: 1px solid #ccc;
    box-sizing: border-box;
}
button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    width: calc(100% - 20px);
    padding: 15px;
    margin-top: 10px;
    border-radius: 20px; /* Rounded corners for the button */
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease; /* Transition for button hover */
}
button[type="submit"]:hover {
    background-color: #45a049; /* Darker green on hover */
}

.form-group select,
.form-group input {
    width: 100%; /* full width */
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form-group select {
    appearance: none; /* Remove default appearance */
    background: url('path_to_your_dropdown_arrow_image') no-repeat right; /* Add a custom dropdown arrow image */
    background-position: right 10px center;
    padding-right: 30px; /* Prevent text from overlapping the custom dropdown arrow */
}
.date-container {
    display: flex;
    justify-content: space-between;
}

.date-container select,
.date-container input {
    width: 30%; /* Adjust based on your preference */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}
.search-inputs input[type="text"],
.search-inputs button {
    position: relative; /* Make sure these elements are positioned */
    z-index: 3; /* Set a z-index higher than the pseudo-element */
}

.search-box {
    background-color: rgba(255, 255, 255, 0.99); /* white with 20% opacity */
    border-radius: 50px; /* round corners */
    padding: 20px;
    text-align: center;
    width: 90%; /* or whatever width you prefer */
    margin: 0 auto;
    z-index: 3;
}
.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    background-color: white;
    width: 400px;
    text-align: center;
    border-radius: 25px;
}

.input-container {
    margin-bottom: 20px;
}

input[type=email],
input[type=password] {
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.submit-btn {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #45a049;
}

#featured-offers-title {
    font-size: 55px; /* Adjust the font size as needed */
    font-weight: bold; /* Makes the text bold */
    color: #000; /* Adjust the color as needed */
    text-align: center; /* Center aligns the text */
    margin-bottom: 20px; /* Adds some space below the title */
}
/* Tu krzysztof edytuje sekcje About Us */

.about_us_box {
    display: flex;
    align-items: center; /* Vertically centers the content */
    justify-content: center; /* Horizontally centers the content */
    height: 400px;
    margin: 120px 320px;
  
}

.about_us_box h1 {
    font-size: 24px; /* Example font size */
    color: #333; /* Example text color */
    margin: 20px;
    text-align: justify;
    /* Add more styles as needed */
}
.modal-content{
    margin-top:8%;
}
